    APP_NAME=GGclass
    APP_ENV=local
    APP_KEY=base64:ClmmqmANgEkmkDCt1FODWTjR/ouXHP1Ex8cdM5rukHo=
    APP_DEBUG=true
    APP_URL=http://localhost

    LOG_CHANNEL=stack
    LOG_DEPRECATIONS_CHANNEL=null
    LOG_LEVE=debug

    DB_CONNECTION=mysql
    DB_HOST=mysql
    DB_PORT=3306
    DB_DATABASE=test  # database name
    DB_USERNAME=root # root db
    DB_PASSWORD=test # root password

    BROADCAST_DRIVER=log
    CACHE_DRIVER=file
    FILESYSTEM_DRIVER=local
    QUEUE_CONNECTION=sync
    SESSION_DRIVER=file
    SESSION_LIFETIME=120

    MEMCACHED_HOST=127.0.0.1

    PUSHER_APP_ID=
    PUSHER_APP_KEY=
    PUSHER_APP_SECRET=
    PUSHER_APP_CLUSTER=mt1

    MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
    MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"


    # GOOGLE_CLIENT_ID=
    # GOOGLE_CLIENT_SECRET=
    # GOOGLE_REDIRECT_URI=

    CACHE_DRIVER=file
    CACHE_DRIVER=database
