* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Press Start 2P', cursive;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    background: linear-gradient(145deg, #14171D, #2A2E34); /* Dark gradient for a modern feel */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.7); /* Depth with shadow */
    color: #FFC62E;
    font-family: 'Press Start 2P', cursive; /* Retro-futuristic font */
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 999;
    border-bottom: 2px solid #FFC62E;
}

.left-section {
    display: flex;
    align-items: center;
}

.logo-img {
    height: 40px;
    margin-right: 20px;
    border-radius: 50%;
    box-shadow: 0px 5px 15px rgba(255, 198, 46, 0.6); /* Glowing effect for logo */
}

.ggclass-font {
    font-size: 16px;
    color: #FFC62E;
    text-shadow: 0 0 10px rgba(255, 198, 46, 0.8); /* Glowing text effect */
    margin-right: 10px;
}

.section-font {
    font-size: 16px;
    color: #FFC62E;
    opacity: 0.8;
    margin-left: 10px;
}

.right-section {
    display: flex;
    align-items: center;
}

.profile-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(255, 198, 46, 0.8); /* Neon glow around the profile picture */
    transition: transform 0.3s, box-shadow 0.3s;
}

.profile-img:hover {
    transform: scale(1.1); /* Slight zoom-in effect on hover */
    box-shadow: 0 0 20px rgba(255, 198, 46, 1); /* Stronger glow on hover */
}



/* Style for the back button */
.back-button {
    background-color: #E4E4E4;
    color:#2A2E34;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 10px;
    transition: background-color 0.2s;
    font-family: 'Press Start 2P', cursive;
    margin-left: 945px;
}

.back-button:hover {
    background-color: #FFC62E;
}

.timer-container {
    width: 250px;
    height: 100%;
    max-height: 165px;
    padding: 20px;
    background-color: #282c34;
    color: #FFC62E;
    border-radius: 10px;
    justify-content: center;
    font-family: 'Press Start 2P', cursive;
    margin-top: 25px;
    font-size: 8px;
    border: 2px solid #FFC62E; /* Border width, style, and color */
}

#minutes-input {
    padding: 5px;
    font-size: 13px;
    border-radius: 5px;
    border: none;
    text-align: center;
}

.time-display {
    font-size: 23px;
}


.question-container {
    background-color: #2c2f33;
    padding: 20px;
    border-radius: 10px;
    width: 50%  ;
    margin: 20px auto;
    color: #fff;
    font-family: 'Press Start 2P', cursive;
    border: 2px solid #FFC62E; /* Border width, style, and color */
    max-height: 500px;
}

.question-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
    margin-left: 10px;
}

.edit-btn {
    background-color: #E4E4E4;
    color: #2A2E34;
    padding: 8px;
    border-radius: 10px;
    cursor: pointer;
    font-family: 'Press Start 2P', cursive;
    font-size: xx-small;
}

.edit-btn:hover{
    background-color: #FFC62E;
    color: #2A2E34;
}

.options-container,
.true-false-container,
.identification-container {
    margin-bottom: 5px;
}

.option-btn {
    background-color: #E4E4E4;
    color: #2A2E34;
    /* margin: 5px 0; */
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    margin-left: 10px;
    font-family: 'Press Start 2P', cursive;
    font-size: x-small;
    margin-bottom: 15px;
}

.option-btn:hover{
    background-color: #FFC62E;
    color: #2A2E34;
}

.option-btn.active {
    background-color: #FFC62E;
    color: #2A2E34;
}

.btn-bn{
    background-color: #E4E4E4;
    color: #2A2E34;
    padding: 10px 10px 10px;
    border-radius: 10px;
    font-size: smaller;

}

.btn-bn:hover{
    background-color: #FFC62E;
    color: #2A2E34;
}


.question-numbers {
    text-align: center;
    margin-top: 20px;
}

.question-numbers button {
    background-color: #2A2E34;
    color: #f0f0f0;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.question-numbers button.active {
    background-color: #FFC62E;
    color: #2A2E34;
}

.question-numbers button:hover{
    background-color: #FFC62E;
    color: #2A2E34;
}



.input-question{
    width: 75%;
}
.question-text{
    margin-bottom: 20px;
}
.question{
    color:#2A2E34;
}

.option-text{
    color:#2A2E34;
}

/* Modal background styling */
.modal {
    display: flex;                   /* Use flexbox */
    justify-content: center;         /* Center horizontally */
    align-items: center;             /* Center vertically */
    position: fixed;                 /* Fixed position */
    top: 0;                          /* Align to the top */
    left: 0;                         /* Align to the left */
    width: 100%;                     /* Full width */
    height: 100%;                    /* Full height */
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    z-index: 1000;                  /* Ensure it's on top of other elements */
    font-family: 'Press Start 2P', cursive;
}

/* Modal content styling */
.modal-content {
    background-color: #2A2E34;
    padding: 25px;
    border-radius: 15px;
    border: 4px solid #FFC62E; 
    text-align: center;              /* Center text inside */
    color: #FFFFFF;                 /* Changed for better readability */
    max-width: 800px;               /* Set a maximum width */
    width: 90%;                     /* Ensure it doesn't exceed 90% of viewport width */
    margin: auto;                   /* Auto margin for horizontal centering */
    margin-top: 5%;
    margin-bottom: 5%;
}


.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    color: #FFC62E;
    cursor: pointer;
    transition: color 0.3s ease;
}

.close-btn:hover {
    color: #FFC62E;
}


label {
    font-family: 'Press Start 2P', cursive;
    color: #f0f0f0;
    display: block;
    margin-bottom: 10px;
}

input[type="text"] {
    font-family: 'Press Start 2P', cursive;
    background-color: #2A2E34;
    color: #f0f0f0;
    border: 2px solid #FFC62E;
    padding: 8px;
    margin-bottom: 15px;
    margin-top: 5px;
    border-radius: 5px;
    outline: none;

}

input[type="text"]:focus {
    border-color: #FFC62E; 
}

button.save-btn {
    font-family: 'Press Start 2P', cursive;
    background-color: #2A2E34;
    color: #f0f0f0;
    padding: 12px 25px;
    border-radius: 5px;
    cursor: pointer;
    width: 25%; /* Optional: Adjust this width if needed */
    transition: all 0.3s ease;
}

.button-container {
    display: flex;
    justify-content: center; /* Centers the button horizontally */
    align-items: center; /* Centers the button vertically (optional if needed) */
    height: 100%; /* Optional: Adjust this based on your container's height */
    margin-top: 20px;
}

button.save-btn:hover {
    background-color: #FFC62E;
    color: #2A2E34;
}

input[type="radio"] {
    accent-color: #ffc62e;
    transform: scale(1.5);
    margin-right: 10px;
}

label input[type="radio"] {
    margin-right: 5px;
}

label.radio {
    font-family: 'Press Start 2P', cursive;
    color: #FFC62E;
    margin-right: 20px;
}

    /* Style for True label */
    #edit-truefalse-container label:nth-child(1) {
        color: green; /* Change to desired color */
        font-weight: bold; /* Optional: make it bold */
    }

    /* Style for False label */
    #edit-truefalse-container label:nth-child(2) {
        color: red; /* Change to desired color */
        font-weight: bold; /* Optional: make it bold */
    }   

    .identification-label {
        color: #2A2E34; 
        font-weight: bold; /* Optional: make it bold */
    }

    .identification-input {
        border: 2px solid #ccc; /* Border color */
        border-radius: 5px; /* Rounded corners */
        padding: 8px; /* Padding inside the input */
        width: 25%; /* Make it full width */
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); /* Optional: add shadow */
    }

    /* Style when the input is focused */
    .identification-input:focus {
        border-color: blue; /* Change border color when focused */
        outline: none; /* Remove default outline */
        box-shadow: 0 0 5px rgba(0, 0, 255, 0.5); /* Optional: change shadow on focus */
    }

.edit-button{
    background-color: #E4E4E4;
    color: #2A2E34;
    padding: 8px;
    border-radius: 10px;
    cursor: pointer;
    font-family: 'Press Start 2P', cursive;
    font-size: xx-small;
    align-items: center;
    justify-content: center;

}

.save-button{
    background-color: #E4E4E4;
    color: #2A2E34;
    padding: 8px;
    border-radius: 10px;
    cursor: pointer;
    font-family: 'Press Start 2P', cursive;
    font-size: xx-small;
    align-items: center;
    justify-content: center;

}