.container {
    padding: 20px;
}

.class-list-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 13px;
}

.class-list-link {
    text-decoration: none;
}

.class-list {
    flex: 0 0 calc(25% - 10px);
    height: 250px;
    width: 310px;
    background-color: #ffffff;
    border: 2px solid #757575;
    border-radius: 12px;
}

.class-theme {
    height: 125px;
    background-color: #283891;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.school-year,
.semester,
.section {
    font-family: "Roboto";
    font-size: 15px;
    color: white;
}
.school-year {
    font-weight: bold;
    position: relative;
    top: 10px;
    left: 15px;
}
.semester {
    position: relative;
    top: -5px;
    left: 15px;
}
.section {
    position: relative;
    left: 15px;
    top: 20px;
}
.subject,
.schedule,
.room {
    font-family: "Roboto";
    font-size: 15px;
    color: #283891;
}

.subject {
    font-weight: bold;
    position: relative;
    left: 15px;
    top: 10px;
}

.schedule {
    position: relative;
    top: -5px;
    left: 15px;
}

.room {
    position: relative;
    left: 15px;
    top: 20px;
}

.user-picture {
    height: 55px;
    width: 55px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 12px;
    position: relative;
    top: -20px;
    left: 230px;
}

/* Modal Styling */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: white;
    width: 700px;
    padding: 20px;
    border: 2px solid #283891;
    border-radius: 8px;
    position: relative;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 30px;
    cursor: pointer;
}

h2 {
    font-family: Roboto, sans-serif;
    font-size: 24px;
    color: #283891;
    text-align: center;
}

.form-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    gap: 20px;
}

.form-group {
    display: flex;
    flex-direction: column;
    width: 48%;
}

.form-group-start,
.form-group-end {
    display: flex;
    flex-direction: column;
    width: 140px;
    position: relative;
    left: -5px;
}

.control-time {
    width: 145px;
    height: 50px;
    border: 2px solid #283891;
}

.form-group input,
.form-group select {
    width: 100%;
    height: 50px;
    padding: 5px;
    font-size: 16px;
    border: 2px solid #283891;
}

.btn-create {
    background-color: #283891;
    color: white;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    float: right;
    width: 145px;
    height: 50px;
}

.school-year,
.semester {
    font-family: "Roboto";
    font-size: 18px;
    /* position: relative;
    left: -110px; */
}
